<!-- FontAwesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="container">
    <div class="task-manager">
        <main>
            <div class="task-list">
                <div class="task" *ngFor="let item of taskbyUser">
                    <div class="task-status">
                        <span class="status-icon">
                            <i class="far fa-circle"></i>
                        </span>
                    </div>
                    <div class="task-content">
                        <div class="task-header">
                            <h3 class="task-title">{{item.title}}</h3>

                            <select class="task-tag" [value]="item.status" (change)="onChangeTask(item, $event)">
                                <option value="Pendiente">Pendiente</option>
                                <option value="Completada">Completada</option>
                            </select>
                        </div>
                        <p class="task-description">{{item.description}}</p>
                        <div class="task-footer">
                            <span class="task-date">{{item.expirationDate | date:'dd/MM/yyyy hh:mm a'}}</span>

                        </div>
                    </div>
                    <button class="floating-delete-button" (click)="onDelete(item)">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        </main>
    </div>
</div>